/* Review container styling */
.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px; /* Max width for larger screens */
  height: 400px;
  margin: auto;
  background-color: #333; /* Ensure it matches the page background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

/* Carousel wrapper */
.review {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensure the review div takes full width */
}

/* Review image styling */
.review-image {
  min-width: 100%; /* Each image takes up 100% of the container width */
  height: auto;
  border-radius: 8px;
}

/* Arrow styling for navigation */
.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  position: absolute;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .review-container {
      height: 300px;
  }

  .arrow {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .review-container {
      height: 250px;
  }

  .arrow {
      font-size: 1.2rem;
  }
}
