
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* General dark theme styles */
.App.dark {
  background-color: #333;
  color: #ffffff;
}

/* General light theme styles */
.App.light {
  background-color: #f9f9f9;
  color: #000000;
}

/* Additional component-specific styling if needed */
.header.dark, .header.light {
  transition: background-color 0.3s, color 0.3s;
}

.header.dark {
  background-color: #333;
}

.header.light {
  background-color: #f0f0f0;
}

/* You can also add theme-specific styles for other components */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
